/*/*!
 * Start Bootstrap - Blog Home (https://startbootstrap.com/template-overviews/blog-home)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-blog-home/blob/master/LICENSE)
 */

 body {
 	padding-top: 54px;
 }

 @media (min-width: 992px) {
 	body {
 		padding-top: 56px;
 	}
 }
 *{
 	padding:0;margin:0;
 }
 body{
 font-family:Arial;
 font-size:15px;
 color:#333;
 background-color:#f8f8f8;
}
li{
	list-style:none;
}

a,button,div,input,select,textarea{
	outline:0;
}
header{
	display:block;
	clear:both;
}
a{
	text-decoration:none;
	color:#333;
}
.icon,i[class^=icon]{
	background-image:url("../images/bg_icon.png");
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:text-top;
}
.icon_doc_mail,.icon_doc_skype,.icon_doc_tell,.icon_doc_yahoo{
	width:20px;
	height:17px;
	margin-right:8px;
	margin-top:-2px;
}
.icon_doc_tell{
	background-position:-435px 0;
	width:16px;
}
.icon_doc_mail{
	background-position:-452px 0;
}
.icon_doc_yahoo{
	background-position:-472px 0;
}
.icon_doc_skype{
	background-position:-494px 0;
}

[class^=item_left],header{
	position:relative;
	width:100%;
}
header{
	background-color:#FFF;
	border-bottom:1px solid #e8e8e8;
	height:50px;
	min-width:1200px;
	top:0;left:0;
	z-index:100;
	transition:top .5s;
}
[class^=item_left]{
	height:87px;
	padding-left:25px;
	padding-top:10px;
	display:box;
	box-sizing:border-box;
	padding-right:10px;
	line-height:1.5;
	overflow:hidden;
}
[class^=item_border]{
	display:block;
	width:5px;
	height:26px;
	background:#ccc;
	position:absolute;
	left:0;
	top:22px;
}
header.up {
	top: 0!important;
	position: fixed!important
}

.box_content {
	width: 1180px;
	margin: 0 auto;
	padding: 0
}

header .box_content {
	height: 50px
}
div.icon-logo {
	width: 80px;
	height: 26px;
	display: inline-block;
	float: left;
	margin: 0;
	margin-top: 12px;
	margin-right: 20px;
	background-position: 1px -2px;
	background-repeat: no-repeat;
	background-size: 512px auto
}


div.icon-logo a {
	display: block;
	text-indent: -999px
}

.bold {
	font-weight: 700
}

.showCate {
	position: relative;
	margin-top: -7px;
	float: left;
	z-index: 10;
	margin-left: 70px;
	margin-right: -50px;

}


@media screen and (max-width: 600px) {
	.navbar{
		margin-top: -5px;
	}
	.doc_support_client{
		float: left;
		margin-left: -200px;
	}
	.doc_help{
		margin-left: -30px !important;
		margin-right: 37px !important;
		float: left;
	}
	.doc_support{
		margin-right: 20px !important;
	}
	.sub_nav_2{
		display: none;
	}
	.headerRight{
		margin-top: -50px;
		float: right;
		padding-right:50px; 
		display: none;
	}
	#logo img{
		margin-left: 200px;
		padding-left: -200px;
		/*margin-top: -100px;*/
	}
	.showCate{
		margin-top: -65px;
		margin-left: -10px;
	}
/* 	.landBox{
 		margin-left: 400px;
 		margin-top: -90px;
 		float: right;

 		}*/

 	}
 	.navbar-toggler{
 		margin-left: 75px;
 		margin-top: 10px;
 		/*background: grey;*/
/* 	max-height: 30px;
max-width: 30px;*/
/*border-color: rgb(0,0,0,.1);*/
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='-9 0 54 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.slimScrollDiv a{
	text-decoration: none;
}
.slimScrollDiv ul{
	position: relative; 
	overflow: hidden; 
	width: 200px; 
	height: 345px;

}
.showCate>span {
	width: 16px;
	height: 16px;
	display: inline-block;
	background-position: 2px -84px;
	background-repeat: no-repeat
}

.showCate:hover>span {
	background-position: -15px -84px;
	cursor: pointer
}

.showCate div.listCategory {
	position: absolute;
	top: 10px;
	padding-top: 21px;
	left: 0;
	z-index: 9;
	display: none;
}

.showCate:hover div.listCategory {
	display: block;
}
/**/
.showCate div.listCategory ul.listParentCate {
	list-style: none;
	min-width: 200px;
	padding: 0;
	background-color: #fff;
	display: block;
}
.showCate div.listCategory ul.listParentCate>li {
	display: block;
	padding: 0 10px 0 0;
	margin-bottom: 10px;
}

.showCate div.listCategory ul.listParentCate>li:hover {
	background-color: #f3f3f3;
}

.showCate div.listCategory ul.listParentCate>li>a:after {
	content: '>';
	font-family: monospace;
	content: '›';
	float: right;
	font-size: 20px;
	line-height: 10px;
	vertical-align: top;
	display: none;
	color: #666;
	margin-top: 3px; 	
}

.showCate div.listCategory ul.listParentCate>li:hover>a:after {
	display: inherit;
}

.showCate div.listCategory ul.listParentCate>li>a {
	display: block;
	padding: 5px 0 5px 10px;
	text-decoration: none;
	border-left: 4px solid #0aa888;
	font-size: 12px
}

.showCate div.listCategory ul.listParentCate>li:nth-child(4n+2)>a {
	border-color: #6d9ebc
}

.showCate div.listCategory ul.listParentCate>li:nth-child(4n+3)>a {
	border-color: #057ab0
}

.showCate div.listCategory ul.listParentCate>li:nth-child(4n+4)>a {
	border-color: #7fb39b
}

.showCate div.listCategory ul.listParentCate>li:nth-child(4n+5)>a {
	border-color: #c67466
}

.showCate div.listCategory ul.listParentCate>li:nth-child(4n+6)>a {
	border-color: #0aa888
}


.headerRight {
	float: left;
	/*margin-left: 30px;*/
	height: 50px;
	width: auto;
	margin-top: 5px;
	/*padding: 0 10px 0px 0px;*/
}

.searchBox {
	float: left;
	border: 1px solid #ddd;
	border-radius: 3px;
	position: relative;
	margin-top: 10px;
	height: 35px;
	/*width: 300px;*/
}

.searchBox .selectOption {
	display: inline-block;
	margin-right: 5px;
	border-right: 1px solid #ddd;
	padding: 2px 5px;
	float: left;
	height: 25px;
	line-height: 25px;
	/*width: 85px;*/
	text-decoration: none;

}

.searchBox .selectOption>a {
	font-size: 12px;
	color: #aaa;
	display: block;
	text-decoration: none;
	padding-left: 5px;
	margin-left: 5px;
}

.searchBox .selectOption>a:after {
	content: '';
/*	border: 5px solid transparent;
	border-top-color: #666;*/
	float: right;
	margin: 9px 5px 0 10px
}

.searchBox .selectOption ul {
	position: absolute;
	top: 31px;
	padding-top: 5px;
	left: -1px;
	font-size: 13px;
	display: none;
	z-index: 9;
}

.searchBox input {
	border-color: transparent;
	line-height: 25px;
	min-width:300px;
	padding: 0 2px
	height: 25px;
	float: left;
	margin-top: 1px;
}
.searchBox>a {
	position: absolute;
	right: 3px;
	top: 8px
}
#txticonSearch{
	margin-top: -2px;
}

.searchBox>a>i {
	background-position: -73px -83px;
	width: 20px;
	height: 20px
}

.searchBox>a:hover>i {
	background-position: -53px -83px
}

.headerRight .landBox {
	float: left;
	height: 50px;
	width: 58px;
	text-align: center;
	/*margin-left: 50px;*/
}

.headerRight .landBox span {
	display: inline-block;
	width: 28px;
	height: 28px;
	background-position: -94px -82px;
	margin-top: 5px !important;
	margin-left: 50px;
}

.headerRight .landBox span:hover {
	background-position: -122px -81px
}


.doc_logo_footer{
	text-align:center;
	padding:30px;
	margin: auto;
}
.doc_logo_footer a{
	width:62px;
	height:22px;
	margin:0 auto;
	background-image:url("../images/bg_icon.png");
	background-repeat:no-repeat;
	display:inline-block;
	background-size:392px;
	background-position:0 0;
	-webkit-filter:opacity(.3) grayscale(100%);
	-moz-filter:opacity(.3) grayscale(100%);
	-ms-filter:opacity(.3) grayscale(100%);
	-o-filter:opacity(.3) grayscale(100%);
	filter:#ddd;
}
.doc_cat_item{
	width:1100px;
	margin:0 auto;
	text-align:center;
	color:#999;
	font-size: 11px;
	line-height: 15px; 
}
.doc_cat_item a{
	font-weight:700;
	color:#bbb;
	margin:0 5px 10px;
	display:inline-block;
	text-decoration: none;
}
.doc_cat_item a:hover{
	color:#00a888;
}
.doc_list_footer{
	margin:50px auto 0;
	position:relative;
	margin-left: 200px;
}
.doc_list_footer ul{
	float:left;
	margin-right:95px;
}
.doc_list_footer ul li{
	list-style-type: none;
}
.doc_list_footer ul:nth-child(3n){
	margin-right:0!important;
}
.doc_list_footer ul a{
	font-size:11px;
	color:#999;
	padding:6px 0;
	text-decoration: none;
}
.doc_list_footer ul a:hover{
	color:#00a888;
}
.item_slidebar:hover p{
	color:#fa0;
}
.doc_title_cnt:hover,.item_common a:hover,.item_doc_hot a:hover{
	color:#00a888;
}
.doc_list_footer ul li h4{
	font-size:11px;
	/*font-weight:700;*/
	color:#999;
	text-transform:uppercase;
	margin-bottom:10px;
}
.doc_copyright_footer{
	margin-top:30px;
}
.doc_copyright_footer>div{
	margin:0 auto;
	padding-top:10px;
}
.doc_copyright_footer>div ul{
	overflow:hidden;
}
.doc_copyright_footer>div ul li{
	float:left;
	font-size:11px;
	color:#999;
}
.doc_copyright_footer>div ul li a{
	display:inline-block;
	padding:10px;
	font-size:12px;
	color:#555;
}
.doc_copyright_footer>div ul li:not(:last-child):after{
	content:"|";
}
.doc_copyright_footer>div div{
	font-size:12px;
	line-height:1.5em;
	color:#888;
	padding-left:10px;
}
.doc_copyright_footer p{
	text-align:center;
	font-size:11px;
	font-weight:700;
	color:#999;
	padding:20px 0;
}
.doc_support_client{
	margin-right: 120px;
}
.doc_help{
	margin-left: 100px;
}
#navbarResponsive{
	margin-left: 0px;
	float: right !important;
	margin-right: 0px;
	margin-left: 40px;
	margin-top: -5px;
}
#navbarResponsive a:hover{
	color: #00a888;
}
.card-body a{
	text-decoration: none;
}
.card-body a:hover{
	color: #00a888;
}
.cat-item a{
	text-decoration: none;
}
.cat-item a:hover{
	color: #00a888;
}
small{
	color: #00a888;
}