/*
Theme Name: Mini Blog
Theme URI: https://lar.vn/                       
Author: Tòng Huỳnh 
Author URI: https://lar.vn/                       
Description: Đây là giao diện mini blog cá nhân
Version: 1.0
License: MIT
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, mini blog 
*/


.textwidget{
	padding: 20px;
}
.widget_categories ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.widget_categories ul li{
	width: 50%;
	float: left;
	padding: 7px 12px 7px 12px;
}

.page-numbers{
	position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.breadcrumb{
	background: #f8f8f8;
}
.breadcrumb a{
	color: grey;
	text-decoration: none;
}
.breadcrumb a:hover{
	color: #00a888;
}

.page-numbers.current{
	z-index: 1;
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}

.fuild-img{
	width: 100% !important;
	height: auto !important;
}

.post-small{
	width: 120px;
	height: auto;
}

.carousel-item {
    width: 100%; 
    max-height: 350px !important;
}
